@import "variables";
@import "mixins";

.excel__toolbar {
    position: absolute;
    top: $toolbar-heigth;
    left: 0;
    right: 0;
    height: $toolbar-heigth;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 7px 10px;

    .button {
        @include button(green);
    }
}
